.droplet1{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 10%;
  visibility: hidden;
}

.droplet2{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 20%;
  visibility: hidden;
}

.droplet3{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 30%;
  visibility: hidden;
}

.droplet4{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 40%;
  visibility: hidden;
}

.droplet5{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 50%;
  visibility: hidden;
}

.droplet6{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 60%;
  visibility: hidden;
}

.droplet7{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 70%;
  visibility: hidden;
}

.droplet8{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 80%;
  visibility: hidden;
}

.droplet9{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 150px;
  left: 90%;
  visibility: hidden;
}

.droplet10{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 10%;
  visibility: hidden;
}

.droplet11{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 20%;
  visibility: hidden;
}

.droplet12{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 30%;
  visibility: hidden;
}

.droplet13{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 40%;
  visibility: hidden;
}

.droplet14{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 50%;
  visibility: hidden;
}

.droplet15{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 60%;
  visibility: hidden;
}

.droplet16{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 70%;
  visibility: hidden;
}

.droplet17{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 80%;
  visibility: hidden;
}

.droplet18{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  top: 300px;
  left: 90%;
  visibility: hidden;
}
